---
import type { CollectionEntry } from "astro:content";
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/solid/Header";
import Footer from "../components/solid/Footer";
import { BlogTitle } from "../components/solid/BlogTitle";
import { End } from "../components/solid/End";
import { Waline } from "../components/solid/Waline";

type Props = CollectionEntry<"blog">["data"];

const { title, description, pubDate, heroImage } = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
    <style>
      main {
        max-width: 100%;
        margin: 0;
      }
      .hero-image {
        margin: 0;
        width: 100%;
        box-sizing: border-box;
      }
      .hero-image img {
        display: block;
        margin: 0 auto;
        width: 100%;
        object-fit: cover;
        height: fit-content;
      }
      .prose {
        width: 100%;
        box-sizing: border-box;
        margin: auto;
        padding: 1rem 1.5em;
        color: rgb(var(--gray-dark));
        box-shadow: inset 0px 4px 4px var(--bg-300);
      }
      @media screen and (max-width: 750px) {
        .prose {
          padding: 0.8em;
        }
      }
      .divider {
        height: 1px;
        width: 100%;
        background-color: var(--bg-300);
      }
    </style>
  </head>

  <body>
    <Header type="fixed" client:load />
    <main>
      <article>
        <div class="hero-image">
          {
            heroImage && (
              <img width={1020} height={510} src={heroImage} alt="" />
            )
          }
        </div>
        <div class="prose">
          <div class="title">
            <div class="title">
              <BlogTitle title={title} time={pubDate} />
              <div class="divider"></div>
              <div>
                <slot />
                <End />
                <Waline
                  client:only="solid-js"
                  serverURL="http://6qx.top:8360/"
                />
              </div>
            </div>
          </div>
        </div>
        <Footer />
      </article>
    </main>
  </body>
</html>
